<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Autor</title>
</head>
<body id="page">
    <h1>Autor:</h1>
    <nav>
        <a href="/">Main</a>
        <a href="/author">Autor</a>
        <a href="/posts">Posts</a>
    </nav>
    <p>Créditos al autor de este blog, Jorge Romero Ciruelos</p>
    <img src="/images/imagen_autor.jpeg">
</body>
</html>